<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Assassin</title>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
	<div class="navbar-header">
	<div class="navbar-brand">
	
	<img src="./static/icon.jpg" alt="Brand" height="27px" width="27px">
	</div>
	</div>
	<h4><span style="line-height:36px;">Assassin</span>
	<span style="line-height:15px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-warning" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
        </div>
      </nav>
	</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-left" style="max-width:300px;">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  <li role="presentation"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
  <li role="presentation"><a href="/target"><span class="glyphicon glyphicon-screenshot"></span> Target</a></li>
  <li role="presentation"><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
  <li role="presentation"><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
</ul>
</div>
        </div>
        <div class="col-lg-9">
           <div class="jumbotron">
               <form role="form" class="form-horizontal" method="POST">
                   <h2>Your Game</h2>
               {% if playerInGame %}<!-- if you are in a game -->
               <p> Currently in {{game["name"]}}.</p>
               <p> Your Target: {{target["name"]}}<!--{% print target %}--></p>
               <p> Description: {{game["description"]}}</p>
               <p><input type="submit" name="b" class="btn btn-danger" value="Leave Game"> WARNING: This action cannot be reversed!</p>
{% if canStartGame %}
			   <p><input type="submit" name="b" class="btn btn-primary" value="Start"> Player Count: {{len(game["players"].keys())}}</p>
{% endif %}
			   </form>
		       <hr>
               {% else %}
               <p> You are not currently in a game. To join a game, enter the host's name into the search page.</p>
               <hr>
               <h2>Create Game</h2>
	           <form role="form" class="form-horizontal" method="POST">
			       <div class="form-group">
				       <p><input type="text" class="form-control" name="entry" placeholder="Game Description"></p>
		</p><input type="submit" name="b" class="btn btn-primary" value="Create">
		<input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
			       </div>
		       </form>
               {% endif %}
	</div>
</div>	
        </div>
    </div>
</div>


