<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Assassin</title>
	<style>
	@media screen and (max-width:1025px) {
   #content {
     width: 100%;
   }
}
</style>
  </head>


  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
	<div class="navbar-header">
	<div class="navbar-brand">
	
	<img src="./static/icon.jpg" alt="Brand" height="27px" width="27px">
	</div>
	</div>
	<h4><span style="line-height:36px;">Assassin</span>
	<span style="line-height:15px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-warning" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
        </div>
      </nav>
	</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-left">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="/home"><h4><span class="glyphicon glyphicon-home"></span>  Home</h4></a></li>
  <li role="presentation"><a href="/profile"><h4><span class="glyphicon glyphicon-user"></span>  Profile</h4></a></li>
  <li role="presentation"><a href="/target"><h4><span class="glyphicon glyphicon-screenshot"></span>  Target</h4></a></li>
  <li role="presentation"><a href="/search"><h4><span class="glyphicon glyphicon-search"></span>  Search</h4></a></li>
  <li role="presentation"><a href="/settings"><h4><span class="glyphicon glyphicon-cog"></span>  Settings</h4></a></li>
</ul>
</div>
        </div>
        <div class="col-lg-9">
           <div class="jumbotron">
               <form role="form" class="form-horizontal" method="POST">
                   <h2>Your Game</h2>
                   {% if playerInGame %}
                   {% if manualRequest %}
                   <p class="text-danger"> Your assassin has submitted a manual confirmation request. Is this you?</p>
                   <p><img src="/static/uploads/{{user}}TARGET.jpg" class="img-responsive"></p>
                   <p><input type="submit" name="b" class="btn btn-success" value="Yes"> 
                       <input type="submit" name="b" class="btn btn-danger" value="No"></p>
			<hr>
                   {% endif %}
		{% if game["name"] == session["username"] %}
		<p class="text-primary">Currently hosting your own game</p>
		{% else %}
               <p class="text-primary"> Currently in {{game["name"]}}.</p>
		{% endif %}
               <p> Your Target: {{target["name"]}}</p>
               <p> Description: {{game["description"]}}</p>
               <p class="text-danger"><input type="submit" name="b" class="btn btn-danger" value="Leave Game"> WARNING: If you are host, the game will be deleted!</p><hr>
{% if canStartGame %}
			   <p><input type="submit" name="b" class="btn btn-primary" value="Start"> <u><h2>Players: ({{gameSize}})</h2></u></p><br>
               {% for e in playerList %}
               <!--Style Here-->
               <p><img src="/static/uploads/{{e['pic']}}" class="img-responsive" height="50px" width="50px">   
               <b><a href="/profile/{{e['user']}}">{{e['name']}}</a></b> 
               <input type="submit" name="b" class="btn btn-warning" value={{e['num']}}>Kick</p>
		<hr>
               <!--  -->
               {% endfor %}
{% endif %}
			   </form>
	
		     <hr>
               {% else %}
               <p> You are not currently in a game. To join a game, enter the host's name into the search page.</p>
               <hr>
               <h2>Create Game</h2>
	           <form role="form" class="form-horizontal" method="POST">
			       <div class="form-group">
				       <p><input type="text" class="form-control" name="entry" placeholder="Game Description"></p>
		</p><input type="submit" name="b" class="btn btn-primary" value="Create">
		<input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
			       </div>
		       </form>
               {% endif %}
	</div>
</div>	
        </div>
    </div>
</div>


