<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Assassin</title>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
	<div class="navbar-header">
	<div class="navbar-brand">
	
	<img src="./static/icon.jpg" alt="Brand" height="27px" width="27px">
	</div>
	</div>
	<h4><span style="line-height:36px;">Assassin</span>
	<span style="line-height:15px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-warning" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
        </div>
      </nav>
	</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-left" style="max-width:300px;">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	{% if name == session['username'] %}
  <li role="presentation" class="Active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	{% else %}
  <li role="presentation"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	{% endif %}
  <li role="presentation"><a href="/target"><span class="glyphicon glyphicon-screenshot"></span> Target</a></li>
  <li role="presentation"><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
  <li role="presentation"><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
</ul>
</div>
        </div>
        <div class="col-lg-9">
           <div class="jumbotron">
		<h2>{{ result["user"] }}'s Profile</h2>
		<p>Profile Picture</p>
		<img src="./static/{{result["pic"]}}" height="70px" width="70px">
		<h3>Stats</h3>
		<p>Kills: {{ result["stats"]["kills"] }}</p>
		<p>Deaths: {{ result["stats"]["deaths"] }}</p>
		<p>Games Played: {{ result["stats"]["gamesPlayed"] }}</p>
	</div>
</div>	
        </div>
    </div>
</div>
