<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Assassin</title>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
	<div class="navbar-header">
	<div class="navbar-brand">
	
	<img src="./static/icon.jpg" alt="Brand" height="27px" width="27px">
	</div>
	</div>
	<h4><span style="line-height:36px;">Assassin</span>
	<span style="line-height:15px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-warning" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
        </div>
      </nav>
	</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-left">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/home"><h4><span class="glyphicon glyphicon-home"></span>  Home</h4></a></li>
  <li role="presentation"><a href="/profile"><h4><span class="glyphicon glyphicon-user"></span>  Profile</h4></a></li>
  <li role="presentation"><a href="/target"><h4><span class="glyphicon glyphicon-screenshot"></span>  Target</h4></a></li>
  <li role="presentation" class="Active"><a href="/search"><h4><span class="glyphicon glyphicon-search"></span>  Search</h4></a></li>
  <li role="presentation"><a href="/settings"><h4><span class="glyphicon glyphicon-cog"></span>  Settings</h4></a></li>
</ul>
</div>
        </div>
        <div class="col-lg-9">
           <div class="jumbotron">
	{% if alert %}
        <div class="alert alert-danger" role="alert">
        Cannot find user. Check username and try again.
        </div>
      {% endif %}
		<h2>Search for a User</h2>
		<form role="form" class="form-horizontal" method="POST">
			<div class="form-group">
				<p><input type="text" class="form-control" name="entry" placeholder="Enter a Username"></p>
				</p><input type="submit" name="b" class="btn btn-danger" value="Search">
				<input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
			</div>
		<form>
	</div>
</div>	
        </div>
    </div>
</div>
