<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">
  
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Assassin</title>
    <!--Map Stuff-->
    <style>
      #map-canvas {
        height: 600px;
        width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js"></script>
    <script>
      // Browser doesn't support Geolocation
      {% if gameStarted %}
      var targetLat = {{targetLat}};
      var targetLng = {{targetLng}};
      {% endif %}
      var map;
      var stuy = new google.maps.LatLng(40.718014, -74.013894);
      var MY_MAPTYPE_ID = 'custom_style';

      function initialize() {
        var featureOpts = [
          { 
            stylers: [
              { hue: '#FF6600' },
              { visibility: 'simplified' },
              { gamma: 0.5 },{ weight: 0.5 }
            ] 
          },
          { 
            featureType: 'landscape', 
            elementType: 'geometry',
            stylers: [
              { hue: '#191919' }
            ] 
          },
          { 
            featureType: 'water', 
            stylers: [ 
              { color: '#240000' }
            ] 
          }
        ];

        var mapOptions = { 
          zoom: 18, 
          center: stuy, 
          mapTypeControlOptions: { mapTypeIds:[MY_MAPTYPE_ID] },
          mapTypeId: MY_MAPTYPE_ID
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function(position) {
              var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              var image = 'redBall.png';
      {% if gameStarted %}
              var targetPos = new google.maps.LatLng(targetLat, targetLng);
              $.getJSON("/target",{latitude:pos.lat(), longitude:pos.lng()});
              var targetMarker = new google.maps.Marker(
                {
                  map: map,
                  position: targetPos,
                  //icon: image,
                  title: "Your Target's Location"
                }
              );
      {% endif %}
              var playerMarker = new google.maps.Marker(
                {
                  map: map,
                  position: pos,
                  //icon: image,
                  title: 'Your Location'
                }
              );
              map.setCenter(pos);
            }, 
            function() {
              handleNoGeolocation(true);
            }
          );
        } else {
          handleNoGeolocation(false);
        }
        var styledMapOptions = { name:'Assassin View' };
        var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
        map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
      }   


      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }
        var options = {
          map: map,
          position: stuy,
          content: content
        };
        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    
    </script>
    <!--End Map Script-->
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <div class="navbar-brand">
	    
	    <img src="./static/icon.jpg" alt="Brand" height="27px" width="27px">
	  </div>
	</div>
	<h4><span style="line-height:36px;">Assassin</span>
	  <span style="line-height:15px;">
            <form class="navbar-form navbar-right" method="POST">
	      <p class="navbar-text">Logged in as {{ session['username'] }}</p>
              <input type="submit" name="b" class="btn btn-warning" value={{message}}>
	      <input type="submit" name="b" class="btn btn-primary" value="Settings">
            </form>
	  </span>
      </div>
    </nav>
    </h4>
  
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="container-left">
	    <ul class="nav nav-pills nav-stacked">
	      <li role="presentation"><a href="/home"><h4><span class="glyphicon glyphicon-home"></span>  Home</h4></a></li>
	      <li role="presentation"><a href="/profile"><h4><span class="glyphicon glyphicon-user"></span>  Profile</h4></a></li>
	      <li role="presentation" class="Active"><a href="/target"><h4><span class="glyphicon glyphicon-screenshot"></span> Target</h4></a></li>
	      <li role="presentation"><a href="/search"><h4><span class="glyphicon glyphicon-search"></span>  Search</h4></a></li>
	      <li role="presentation"><a href="/settings"><h4><span class="glyphicon glyphicon-cog"></span>  Settings</h4></a></li>
	    </ul>
	  </div>
        </div>
        <div class="col-lg-9">
          <div class="jumbotron">
	    <h2>My Target</h2>
		{% if gameStarted %}
		<p class="text-warning">Target: <a href="/profile/{{target['user']}}">{{target["name"]}}</a>
		{% endif %}
	    <div id="map-canvas"></div>
		<hr>
	    {% if gameStarted %}
	    <h4>Target's Picture:</h4> <img src="/static/uploads/{{target['pic']}}" height="140px" width="140px"></p>
        <form method="POST" enctype="multipart/form-data">
        <input type="file" name="f" class="btn btn-default" accept="image/*;capture=camera"><br>
	    <input type="submit" name="b" class="btn btn-danger" value="Confirm">
	    {% endif %}
	   {{message}}
        {% if manualConfirm %}
        <p><input type="submit" name="b" class="btn btn-primary" value="Manual Confirm"></p>
        {% endif %}
        </form>
	  </div>
	</div>
      </div>
    </div>
</div>
